	
	<span class="name link" onclick="window.document.location='/events/{{id}}';">{{name}}</span>
  	<div class="event-container  {{#if pastEvent}}past-events{{/if}}">             		
  		<div class="left-side">             			
			<span class="link" onclick="window.document.location='/venues/{{venue.id}}';">
 				<a class="fa fa-map-marker"></a>{{venue.name}}
 			</span>
 			<span> <a class="glyphicon glyphicon-time"></a>{{time}}</span>
 			<span> <a class="glyphicon glyphicon-calendar"></a>{{date}}</span> 
		</div>   
		<div class="right-side">
			<button class="btn btn-primary" onclick="location.href='/events/{{id}}/update'">Update</button>
		</div>
    </div>
    <hr>