{{#partial "head"}}
<link rel="stylesheet" href="../../css/updateform.css">
{{/partial}}

{{#partial "content"}}
{{#eventForm}}
	<h1>Updating {{name}}</h1>
	
	{{#if errors}}
		<p class="h2 text-danger"> There were errors in your updated event information!</p>
	{{/if}}
    <form action="/events/{{id}}/update" method="post">
		<div class="form-group {{#if errors.template}}has-error{{/if}}">
    	
    	<input type="hidden" name="event" id="event" value="{{id}}" />
    	
    	<p>Name <input type="text" name="name" id="name" value="{{name}}" /></p>
    	
    	<p>Description <textarea name="description" id="description">{{description}}</textarea></p>
    	
       	<p>Venue
       		
       		<select type="venue" name="venue" id="venue" />
       				<option selected value={{venue.id}}>{{venue.name}}</option>
       				{{#venues}}
       				<option value={{id}}>{{name}}</option>
       				{{/venues}}
       		</select>
       		
       	</p>
       	
        <p>Date Time</p>
        <p><input type="date" name="date" id="date" value="{{date}}" />
        <input type="time" name="time" id="time" value="{{time}}" /> </p>
        {{/eventForm}}
		{{#if errors.template}}
      	<p class="text-danger">{{errors.template}}</p>
      	{{/if}}
        </div>
        	<button type="submit">Submit</button>
           	<button type="reset">Reset</button>
           	<a href="/events" role="button">Cancel</a>
        </p>
    </form>

{{/partial}}
{{> layouts/base title="EventLite - Update an event"}}