{{#partial "head"}}
<link rel="stylesheet" href="../css/update.css">
{{/partial}}

{{#partial "navbar"}}
home
{{/partial}}

{{#partial "content"}}
<body>
	<h1>Update form</h1>
	
	{{#if errors}}
		<p class="h2 text-danger"> There were errors in your updated event information!</p>
	{{/if}}
	
    <form action="/events/{{id}}/update" method="post">
		<div class="form-group {{#if errors.template}}has-error{{/if}}">
    	{{#eventForm}}
    	<input type="hidden" name="event" id="event" class="form-control" value="{{id}}" />
    	
    	<p>Name: <input type="text" name="name" id="name" class="form-control" value="{{name}}" /></p>
    	
    	<p>Description: <textarea name="description" id="description" class="form-control" >{{description}}</textarea></p>
    	
       	<p>Venue:
       		
       		<select type="venue" name="venue" id="venue" class="form-control" />
 
       				<option selected value={{venue.id}}>{{venue.name}}</option>

       				{{#venues}}
       				<option value={{id}}>{{name}}</option>
       				{{/venues}}
       		</select>
       		
       	</p>
       	
        <p>Date: <input type="date" name="date" id="date" value="{{date}}" /></p>
        
        <p>Time: <input type="time" name="time" id="time" value="{{time}}" /></p>
        {{/eventForm}}
		{{#if errors.template}}
      	<p class="text-danger">{{errors.template}}</p>
      	{{/if}}
        </div>
        	<input class="btn btn-primary" type="submit" value="Submit">
           	<input class="btn btn-warning" type="reset" value="Reset">
           	<a class="btn btn-danger" href="/events" role="button">Cancel</a>
        </p>
    </form>
</body>
</html>
{{/partial}}
{{> layouts/base title="EventLite - Update an event"}}