{{#partial "head"}}
<link rel="stylesheet" href="../../css/main.css">
<link rel="stylesheet" href="../../css/forms.css">
{{/partial}}

{{#partial "content"}}
{{#event}}

  <div class="header-container">
	<div class="title-container">		
		<div class="subtitle">Update an Event</div>
	</div>	
</div>	
	
<div class="subsection-title-container">
	<div class="main-content-container">
		<div class="subsubtitle">Updating: {{name}}</div>
	</div>
</div>

<div class="main-content-container events-container">
	
	
	{{#if errors}}
		<p class="h2 text-danger"> There were errors in your updated event information!</p>
	{{/if}}
    <form action="/events/{{id}}/update" method="post">
		<div class="form-group {{#if errors.template}}has-error{{/if}}">
    	
    	<input type="hidden" name="event" id="event" value="{{id}}" />
    	
    	<label>Name</label><input class="form-control" type="text" name="name" id="name" value="{{name}}" />
    	
    	<label>Description</label><textarea class="form-control" name="description" id="description">{{description}}</textarea>
    	
       	<label>Venue</label>
       		
  		<select class="form-control" type="venue" name="venue" id="venue">
  				<option selected value={{venue.id}}>{{venue.name}}</option>
  				{{#venues}}
  				<option value={{id}}>{{name}}</option>
  				{{/venues}}
  		</select> 
       		
       	<label>Date</label> <input class="form-control" type="date" name="date" id="date" value="{{date}}" />
        <label>Time</label> <input class="form-control" type="time" name="time" id="time" value="{{time}}" /> 
        
 {{/event}}
	
		{{#if errors.template}}
      		<p class="text-danger">{{errors.template}}</p>
      	{{/if}}
        </div>
        	<button class="btn btn-primary" type="submit">Submit</button>
       
    </form>
</div>

{{/partial}}
{{> layouts/base title="EventLite - Update an event"}}