{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
{{/partial}}

{{#partial "navbar"}}
home
{{/partial}}

{{#partial "content"}}

<div class="main-container">
	<div class="row justify-content-between">
		<h1>All events</h1>
		<div class="col-md-3 filters-container" id="filterLooks">
			<h2>Filters</h2>
			<form action="/events/" method="post">
			   <div class="form-group">    
				 <label for="name">Event Name:</label><input class="form-control" type="text" name="name" id="name" placeholder="Search.." autofocus />    
			   </div>
			   
			   <!-- Other filters / Search stuff goes here -->
			
			   <button class="btn btn-primary" type="submit">Search!</button>
			</form>
		</div>
		<div class="col-md-1 filler"></div>
		<div class="col-md-8 panel panel-default" id="panelLooks">	
			<div class="panel-heading">
				<div style="display: inline-block"><h3 class="panel-title">Keywords</h3></div>
				<div class="dropdown" id="dropdown_sortby">
			    	<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort by
			    	<span class="caret"></span></button>
			    	<ul class="dropdown-menu">
			      		<li><a href="#">Date</a></li>
			      		<li><a href="#">Venue</a></li>
			    	</ul>
			
				</div>
			</div>
			
			<table class="table table-striped table-hover">
			  <tbody>
			    {{#events}}
				      <tr class="{{#if pastEvent}}past-events{{/if}}">
				      	<td><div>
				      		<span class="glyphicon glyphicon-picture" aria-hidden="true" id="image_preview"></span>
				      		</div>
				      	</td>
				        <td id="event_preview">
				        	<i class="fa fa-bolt"></i> 
				        		<span onclick="window.document.location='/events/{{id}}';">
				        			Event: {{name}}
				        		</span><br />
				            <i class="fa fa-map-marker"></i> Venue: {{venue.name}}<br />
				            <i class="fa fa-calendar"></i> Date: {{date}}
				            {{#if pastEvent}}<span class="missed-notif"><i class="glyphicon glyphicon-exclamation-sign"></i> Missed it</span>{{/if}}<br />
				            <i class="fa fa-clock-o"></i> Time: {{time}}
				            
				        </td>
						<td id="event_preview"><button class="btn btn-primary" onclick="location.href='/events/{{id}}/update'">Update</button></td>
						<td id="event_preview">
				           <form action="/events/{{id}}/delete" method="post">  
					  	      <button class="btn btn-primary" type="submit">Delete</button>
					  	   </form>
					    <td>
				      </tr>
			    {{/events}}
			  </tbody>
			</table>
		</div>
	</div>

    <div class="row">
      <div class = "col-md-3 filters-container">
        <h3>Add a new event</h3>
        <a class="btn btn-primary" role="button" onclick="location.href='/events/new'">Add event</a>
      </div>
    </div>
</div>

{{/partial}}

{{> layouts/base title="EventLite events"}}