{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/forms.css">
{{/partial}}

{{#partial "content"}}
<div class="header-container">
  <div class="title-container">   
    <div class="subtitle">New Event</div>
  </div>  
</div>  

<div class="main-content-container">

{{#if errors}}
		<p class="h2 text-danger"> There were errors in your event information!</p>
	{{/if}}
    <form method="post" action="/events/new">
      <div class="form-group {{#if errors.template}}has-error{{/if}}">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Name" autofocus value="{{event.name}}" />
         {{#if errors.name}}<p class="text-danger"> {{errors.name}} </p>{{/if}} 
          
        <label for="date">Date</label>
        <input class="form-control" type="date" name="date" id="date" placeholder="yyyy-MM-dd" value="{{eventDate}}" />
        {{#if errors.date}} <p class="text-danger">  {{errors.date}} </p>{{/if}}

        <label for="time">Time</label>
        <input class="form-control" type="time" name="time" id="time" placeholder="HH:mm" value="{{eventTime}}" />
		 {{#if errors.time}} <p class="text-danger">  {{errors.time}} </p>{{/if}}

        <label for="venue">Venue</label>
        <select class="form-control" type="venue" name="venue" id="venue" />
       	  <option selected value={{event.venue.id}}>{{event.venue.name}}</option>
       	  {{#venues}}
       	    <option value={{id}}>{{name}}</option>
       	  {{/venues}}
       	</select>
        {{#if errors.venue}} <p class="text-danger"> {{errors.venue}}</p>{{/if}} 
       		
        <label for="description">Description</label>
        <input class="form-control" type="text" name="description" id="description" placeholder="Description" value="{{event.description}}" />
        <p class="text-danger">{{#if errors.description}} <p class="text-danger"> {{errors.description}} </p>{{/if}}
        
        {{#if errors.template}}
          <p class="text-danger">{{errors.template}}</p>
        {{/if}}
      </div>
  
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
 </div>

{{/partial}}

{{> layouts/base title="EventLite New Event"}}
