{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
{{/partial}}

{{#partial "content"}}
<h1>Add a new event</h1>
<div class="row">
  <div class = "col-md-3">
    <form method="post" action="/events/new">
      <div class="form-group {{#if errors.template}}has-error{{/if}}">
        <label for="name">Name</label>
        <p><input class="form-control" type="text" name="name" id="name" placeholder="Name" autofocus value="{{name}}" /></p>
        
        <label for="date">Date</label>
        <p><input class="form-control" type="text" name="date" id="date" placeholder="yyyy-MM-dd" value="{{date}}" /></p>
         
        <label for="time">Time</label>
        <p><input class="form-control" type="text" name="time" id="time" placeholder="HH:mm" value="{{time}}" /></p>

        <label for="venue">Venue</label>
        <p>
        <select type="venue" name="venue" id="venue" value="{{venue}}" />
       	  <option selected value={{venue.id}}>{{venue.name}}</option>
       	  {{#venues}}
       	    <option value={{id}}>{{name}}</option>
       	  {{/venues}}
       	</select>
       	</p>
        
        <label for="description">Description</label>
        <p><input class="form-control" type="text" name="description" id="description" placeholder="Description" value="{{description}}" /></p>
        
        {{#if errors.template}}
          <p class="text-danger">{{errors.template}}</p>
        {{/if}}
      </div>
  
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{{/partial}}

{{> layouts/base title="EventLite New Event"}}
