{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/show.css">
{{/partial}}

{{#partial "navbar"}}
{{/partial}}

{{#partial "content"}}
  {{#venue}}
  
    
  <div class="header-container">
	<div class="title-container">		
		<div class="subtitle">View a Venue</div>
	</div>	
  </div>	
	
  <div class="subsection-title-container">
	<div class="main-content-container">
		<div class="subsubtitle">{{name}}</div>
	</div>
  </div>
    
  <div class="main-content-container">

    <div class="row">      
	     <div class="col-sm-4 no-pad">
	       <div class="panel panel-default" id ="info-panel">
	         <div class="panel-body">
	           <h4>Info</h4>
	           <div id = "info-content">
	             <div>
	               <p>Capacity: {{capacity}}</p>
	               <p>Address: {{address}}</p>
	               <p>Postcode: {{postcode}}</p>
	             </div>
	             <div style="display: inline">
	             <form action="/venues/{{id}}/delete" method="post" style="display: inline">
	             <!--	<input type="hidden" name="venue" id="venue" value="{{id}}" />  -->
 	  				<button class="btn btn-primary" type="submit">Delete</button>
	  			 </form>
	             <a class="btn btn-primary" id="back-button" role="button" onclick="goBack()">Back</a>
	  			 </div>
	           </div>
	         </div>
	       </div>
	     </div>
         
      
	      <div class="col-sm-8">
	        <div class="panel panel-default">
	          <div class="panel-body">
	            <h4>Events</h4>
	            {{#if events}}
	              <table class="table table-striped table-hover">
	                <tbody>
	                  {{#events}}
	                    {{> events/_detail}}
	                  {{/events}}
	                </tbody>
	              </table>
	            {{else}}
	              <p id = "no-description">No Events</p>
	            {{/if}}
	          </div>
	        </div>
	      </div>
    </div>
  </div>
  {{/venue}}
{{/partial}}

{{> layouts/base title="EventLite event view"}}