{{#partial "head"}}
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/home.css">
{{/partial}}

{{#partial "navbar"}}
home
{{/partial}}

{{#partial "content"}}

	<div class="header-container">
		<div class="title-container">			
			<div class="title">Eventlite</div>
			<div class="subtitle hidden-xs">For events and stuff</div>
		</div>		
	</div>			
	
	<div class="main-content-container">    
        <div class="events-container">
        	<h2>Coming Up Soon!</h2>         
            {{#events_soonest3}}
		      	<span class="name link" onclick="window.document.location='/events/{{id}}';">{{name}}</span>
             	<div class="event-container">             		
             		<div class="left-side">             			
				      	<span class="link" onclick="window.document.location='/venues/{{venue.id}}';">
				      		<a class="fa fa-map-marker"></a>{{venue.name}}
				      	</span>
				      	<span> <a class="glyphicon glyphicon-time"></a>{{time}}</span>
				      	<span> <a class="glyphicon glyphicon-calendar"></a>{{date}}</span> 
				    </div>          		
             		<div class="right-side hidden-sm hidden-md hidden-xs">
             			<span>{{description}}</span>
             		</div>
             	</div>
             	<hr>
		   {{/events_soonest3}} 
		</div> 
	</div>     
	
 	<div class="main-content-container">
	    <div class="venues-container">
	        <h2>Popular Venues</h2>       
	        
	              {{#venues_top3}}	
	              		<div class="venue-container">			    
					        <span class="link name" onclick="window.document.location='/venues/{{id}}';">
					        	<a class="fa fa-map-marker"></a>{{name}}
					        </span>
					        <span>{{address}}</span>
					        <span>{{postcode}}</span>
					    </div>
					    <hr>
				  {{/venues_top3}}
	          
	    	</div>
     </div>

{{/partial}}

{{> layouts/base title="EventLite events"}}